* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
  background:linear-gradient(to right , rgb(230,218,206),white);
  padding: 20px;
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
    color: black;
    flex-wrap: wrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
    align-items: center;
}

.box {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    margin-right: 10px;
}

.nav-name {
    font-size: 1.5em;
    margin-right: 10px;
}

.slash, .fullstack {
    font-size: 1em;
    margin-right: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.rightbar {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.rightbar:hover {
    background-color: #007bff;
}

/*Body*/
.projects {
    padding: 150px 0;
    
}
.projects .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.project {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 30%;
    padding: 1.5rem;
    text-align: center;
    background:linear-gradient(to right ,white, rgb(230,218,206));
}
  
.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
  
.project h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
  
.project p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
}
  
.button {
    padding: 0.7rem 1.5rem;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}
  
.button:hover {
    background: #005bb5;
}
  
  
@media (max-width: 768px) {
  .projects .container {
      flex-direction: column;
      align-items: center;
  }
  
  .project {
    width: 80%;
  }
}

/* Footer styles */
.footer {
    background-color: white;
    color: black;
    padding: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.leftfooter {
    text-align: left;
    font-size: 1.1em;
}

.rightfooter {
    text-align: right;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.ic {
    text-align: center;
}

.followiconhead {
    display: flex;
    gap: 10px;
}

.followicons {
    font-size: 1.5em;
    color: black;
}
